div.bar{
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: slateblue;
    margin-right: 2px;
}

.top-label {
    font-size: 13px;
    font-style: italic;
    text-transform: uppercase;
    float: left;
}
.age-label {
    text-align: right;
    font-weight: bold;
    width: 90px;
    padding-right: 10px;
}
.clearfix {
    clear: both;
}
.bar {
    fill: DarkSlateBlue;
}
.bar-label {
    text-anchor: end;
}
.axis-label {
    text-anchor: middle;
    font-size: 13px;
}